html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

.githublink {
  display:block;
  width:5%;
  position:absolute;
  bottom:5%;
  right:5%;
  filter:invert(100%);
}

#sidemenu {
  background-color: #000000a8;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  overflow: auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

#sidemenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#sidemenu li {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

#sidemenu label {
  font-size: medium;
  color: white;
  margin-bottom: 5px;
}

#sidemenu select,
#sidemenu input[type="checkbox"] {
  padding: 5px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
}

#sidemenu select {
  width: 100%;
}

#sidemenu input[type="checkbox"] {
  transform: scale(1.5);
  margin-top: 5px;
}

#renderasciihere {
  width:100%;
  height:100%;
  font-size: 21px;
  line-height: 13px;
  font-family: monospace;
  white-space: pre;
  font-smooth: never;
  -webkit-font-smoothing:none;
  background-color: #000;
  color:#fff;
}

.howManyChars {
  font-family: monospace;
  word-break: break-all;
  position:absolute;
  top:0;
  left:0;
  opacity:0.5;
  z-index:10;
  line-height:20px;
  font-smooth: never;
  -webkit-font-smoothing:none;
}

.info {
  color:#fff;
  text-align: center;
}


@media only screen and (max-width: 768px) {
  .githublink {
    width:15%;
  }
  #sidemenu label {
    font-size: small;
  }
}